<div class="menu-left">
  <ul>
    <li>
      <a href="/admin/produtos">
        <span class="links_name">Produtos</span>
        <i class='bx bxs-right-arrow'></i>
      </a>
    </li>
    <li>
      <a href="/admin/categorias">
        <span class="links_name">Categorias</span>
        <i class='bx bxs-right-arrow'></i>
      </a>
    </li>
    <li>
      <a href="/admin/postagens">
        <span class="links_name">Postagem</span>
        <i class='bx bxs-right-arrow'></i>
      </a>
    </li>
  </ul>
</div>